<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="NitEntidad" value="890.905.080-3" />
    <add key="basseAddress" value="http://200.122.221.193:7997/ApiAdministrator/api/"/>
    <add key="IntervalTime" value="5" />
    <add key="Duration" value="00:03:59" />
    <add key="ImagePath" value="Publicity" />
    <add key="DirectoryFile" value="C:\CertificadosElectronicos" />
    <add key="IDTramite" value="3" />
    <add key="idCorrespondent" value="5" />
    <add key="Corresponsal" value="5" />
    <add key="IDCorresponsal" value="5" />
    <add key="ImageCheckIn" value="/WPCamaraComercio;component/Images/Others/ok.png" />
    <add key="ImageCheckOut" value="/WPCamaraComercio;component/Images/Others/circulo.png" />
    <add key="PrinterName" value="Samsung SCX-3400 Series" />
    <!--BEGIN PUERTOS DE LOS PERIFÉRICOS________________________________________________________________________________________________________________________________-->
    <add key="Port" value="COM5" />
    <!--Aceptance-->
    
    <add key="PortMonedero" value="COM6" />
    <!--Monederos-->
    
    <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->
    <add key="ValidateDispenser" value="/api/Administrator/ValidateMoneyDispenser"/>
    <add key="GetToken" value="Authentication/Authenticate"/>
    <add key="InitPaypad" value="PayPadAdministrator/InitPaypad"/>
    <add key="SaveLog" value="PayPadAdministrator/SaveLog"/>
    <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction"/>
    <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction"/>
    <add key="SavePayer" value="PayPadAdministrator/SavePayer"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BDCamaraComercioEntities" connectionString="metadata=res://*/DataModel.CamaraComercioADO.csdl|res://*/DataModel.CamaraComercioADO.ssdl|res://*/DataModel.CamaraComercioADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\BDCamaraComercio.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCFCamaraComercio" receiveTimeout="00:00:20"
          sendTimeout="00:00:20" />
        <binding name="BasicHttpBinding_IServicePayPad" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://200.122.221.193:7997/ServicePayPad.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePayPad"
        contract="WCFPayPad.IServicePayPad" name="BasicHttpBinding_IServicePayPad" />
      <endpoint address="http://200.122.221.195/WCFCamaraMigration/WCFCamaraComercio.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFCamaraComercio"
        contract="WCFCamaraComercio.IWCFCamaraComercio" name="BasicHttpBinding_IWCFCamaraComercio" />
    </client>
  </system.serviceModel>
</configuration>