<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
    <add key="DurationAlert" value="100000" />
    <add key="IDCorresponsal" value="" />
    <add key="MinPayAmount" value="2000" />
    <add key="MinWithdrawalAmount" value="10000" />
    <add key="MaxWithdrawalAmount" value="600000" />
    <add key="NAME_PAYPAD" value="" />
    <add key="LAST_NAME_PAYPAD" value="" />
    <add key="NAME_APLICATION" value="" />
    <add key="NIT" value="" />
    <add key="ImageBoucher" value="../../Images/Others/img-boucher.png" />
    <add key="PathPublish" value="../../Images/Publish" />
    <add key="DirectoryFile" value="C:/CertificadosElectronicos" />
    <add key="PathTypeDocument" value="../Images/Mokups/Mockup_Type_Documents.json" />
    <add key="ValuesDispenser" value="DP:10000-DP:2000" />
    <add key="CuantityItemsList" value="12" />
    <add key="ClientPlataform" value="DISPENSADOR" />
    <add key="CodeDepartmentBuyer" value="01" />
    <add key="CodeTownBuyer" value="02" />
    <add key="CodeCountryBuyer" value="00" />
    <add key="PrinterName" value="" />
    <!--END OTHERS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN PUERTOS DE LOS PERIFÉRICOS________________________________________________________________________________________________________________________________-->
    <add key="PrintBandrate" value="9600" />
    <add key="PortPrinter" value="USB005" />
    <add key="PortBills" value="COM3" />
    <add key="PortCoins" value="COM10" />
    <!--END PUERTOS DE LOS PERIFÉRICOS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
    <!--<add key="basseAddress" value="http://200.122.221.193:7997/ApiAdministrator/api/" />-->
    <add key="basseAddress" value="PsEyvKUa4K+Hg7g/Mw5H4ThPT9xzPThJ/12ovPzM+8uz91XJqop4JsIINPCc4coy" />
    <add key="basseAddressIntegration" value="WfTIjMp9ztXjzQGISBiL6mB9+qZzYjJF/EYQtod7i2k3YG4xwnIoFrHwtgg3c3XR" />
    <!--END SERVICES__________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->
    <add key="ValidateDispenser" value="/api/Administrator/ValidateMoneyDispenser" />
    <add key="GetToken" value="Authentication/Authenticate" />
    <add key="InitPaypad" value="PayPadAdministrator/InitPaypad" />
    <add key="SaveLog" value="PayPadAdministrator/SaveLog" />
    <add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog" />
    <add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice" />
    <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction" />
    <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction" />
    <add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount" />
    <add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail" />
    <add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad" />
    <add key="GetBalance" value="PayPadAdministrator/GetBalance" />
    <add key="GetUpload" value="PayPadAdministrator/GetUpload" />
    <add key="UpdateBalance" value="PayPadAdministrator/UpdateBalance" />
    <add key="UpdateUpload" value="PayPadAdministrator/UpdateUpload" />
    <add key="SavePayer" value="PayPadAdministrator/SavePayer" />
    <add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction" />
    <!--END APIControllers____________________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIINTEGRATIONControllers______________________________________________________________________________________________________________________________________________-->
    <add key="GetGeneralInformation" value="CamaraComercio/GetGeneralInformation"/>
    <add key="GetDetalle" value="CamaraComercio/GetDetalleComerciante"/>
    <add key="SendPay" value="CamaraComercio/SendPayInformation"/>
    <add key="GetCertifiedString" value="CamaraComercio/GetCertifiedString"/>
    <!--END APIINTEGRATIONControllers____________________________________________________________________________________________________________________________________________-->
    
  </appSettings>
<connectionStrings><add name="PayPlusLocalBDEntities" connectionString="metadata=res://*/DataModel.PayPlusLocalADO.csdl|res://*/DataModel.PayPlusLocalADO.ssdl|res://*/DataModel.PayPlusLocalADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DataContext\PayPlusLocalBD.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>