<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>

    <!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
    <add key="DurationAlert" value="15000"/>
    <add key="DurationView" value="1200000"/>
    <add key="IDCorresponsal" value=""/>
    <add key="MinPayAmount" value="2000"/>
    <add key="MinWithdrawalAmount" value="10000"/>
    <add key="MaxWithdrawalAmount" value="600000"/>
    <add key="NAME_PAYPAD" value=""/>
    <add key="LAST_NAME_PAYPAD" value=""/>
    <add key="NAME_APLICATION" value="WPFCCMedellin.exe"/>
    <add key="NIT" value="890.905.080-3"/>
    <add key="ProductName" value="Certificados Electrónicos"/>
    <add key="ImageBoucher" value="Images/Others/img-boucher.png"/>
    <add key="PathPublish" value="Images/Publish"/>
    <add key="DirectoryFile" value="C:/CertificadosElectronicos"/>
    <add key="PathTypeDocument" value="Mokups/Mockup_Type_Documents.json"/>
    <add key="ValuesDispenser" value="DP:10000-DP:2000"/>
    <add key="CuantityItemsList" value="5"/>
    <add key="ClientPlataform" value="DISPENSADOR"/>
    <add key="IntentsDownload" value="3"/>
    <add key="CodeDepartmentBuyer" value="05"/>
    <add key="CodeTownBuyer" value="196"/>
    <add key="CodeCountryBuyer" value="001"/>
    <add key="PrinterName" value="Microsoft Print to PDF"/>
    <add key="BarcodePort" value="COM10"/>
    <add key="BarcodeBaudRate" value="57600"/>
    <add key="IdClient" value="POBLADO"/>
    <!--END OTHERS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN PUERTOS DE LOS PERIFÉRICOS________________________________________________________________________________________________________________________________-->
    <add key="PrintBandrate" value="9600"/>
    <add key="PortPrinter" value="USB003"/>
    <add key="PortBills" value="COM3"/>
    <add key="PortCoins" value="COM7"/>
    <!--END PUERTOS DE LOS PERIFÉRICOS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
    <add key="basseAddress" value="https://e-citypay.co/"/>
    <add key="basseAddressIntegration" value="http://dev.camaramedellin.com.co/CertificadosElectronicos/CamaraMovil.wsa/"/>
    <!--END SERVICES__________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->
    <add key="ValidateDispenser" value="/api/Administrator/ValidateMoneyDispenser"/>
    <add key="GetToken" value="Authentication/Authenticate"/>
    <add key="InitPaypad" value="PayPadAdministrator/InitPaypad"/>
    <add key="SaveLog" value="PayPadAdministrator/SaveLog"/>
    <add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog"/>
    <add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevise"/>
    <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction"/>
    <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction"/>
    <add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount"/>
    <add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail"/>
    <add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad"/>
    <add key="GetBalance" value="PayPadAdministrator/GetBalance"/>
    <add key="GetUpload" value="PayPadAdministrator/GetUpload"/>
    <add key="UpdateBalance" value="PayPadAdministrator/UpdateBalance"/>
    <add key="UpdateUpload" value="PayPadAdministrator/UpdateUpload"/>
    <add key="SavePayer" value="PayPadAdministrator/SavePayer"/>
    <add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction"/>
    <!--END APIControllers____________________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIINTEGRATIONControllers______________________________________________________________________________________________________________________________________________-->
    <add key="GetGeneralInformation" value="ConsultarEmpresa.html"/>
    <add key="GetDetalle" value="DetalleComerciante.html"/>
    <add key="SendPay" value="CrearCompra.html"/>
    <add key="GetCertifiedString" value="DescargarCertificado.html"/>
    <add key="BuyCancel" value="CancelarCompra.html"/>
    <add key="GetPayer" value="ConsultarIdentificacionComprador.html"/>
    <!--END APIINTEGRATIONControllers____________________________________________________________________________________________________________________________________________-->
    <add key="ConnectionString"
      value="Data Source=C:\Users\H-81\Documents\GitHub\WPCamaraComercio\WPFCCMedellin\WPFCCMedellin\bin\Debug\DataContext\DB_Local.db;Pooling=true;FailIfMissing=false;Version=3"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
